@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}
.outer-box {
  width: 100dvw;
  height: 100dvh;
  background: linear-gradient(rgb(26, 221, 179), rgb(103, 73, 240));
}
.inner-box {
  width: 400px;
  margin: 0 auto;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  padding: 20px 40px;
  border: 1px solid rgb(75, 73, 73);
  border-radius: 2%;
  background-color: aliceblue;
  box-shadow: 2px 2px 5px #1288d6;
  backdrop-filter: blur(8px);
  z-index: 2;
}
.signup-header p {
  font-size: 1.8em;
}
.signup-header h1 {
  font: size 2.5em;
  color: #000;
}
.signup-boby {
  margin: 10px 0;
}
.signup-boby p {
  margin: 5px 0;
}
.signup-boby p label {
  display: block;
}
.signup-boby p input {
  width: 100%;
  padding: 10px;
  border: 2px solid rgb(230, 216, 216);
}
.signup-boby p input[type="submit"] {
  background-color: #3498dd;
  border: 0px;
  color: white;
  cursor: pointer;
}
.signup-boby p input[type="submit"].hover {
  background-color: #02163a;
}
.signup-footer p {
  color: #1288d6;
  text-align: center;
}
.signup-footer p a {
  color: #02163a;
}
.cricle {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: linear-gradient(#fdfafade, #72a5f1fa);
  position: absolute;
}
.c1 {
  top: 100px;
  left: 40px;
}
.c2 {
  bottom: 100px;
  right: 40px;
}
